<?xml version="1.0" ?>
<robot name="piab_picobot_electric">
  <link name="world"/>
  <joint name="joint0" type="fixed">
    <parent link="world"/>
    <child link="picobot_electric_base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
  <link name="picobot_electric_base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0E-03" ixy="1.0E-06" ixz="1.0E-06" iyy="1.0E-03" iyz="1.0E-06" izz="1.0E-03"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://example-robot-data/tools/piab/meshes/visual/picobot_electric.stl"/>
      </geometry>
      <material name="">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://example-robot-data/tools/piab/meshes/collision/picobot_electric_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="picobot_electric_base_link">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <selfCollide>false</selfCollide>
    <material>Gazebo/White</material>
  </gazebo>
</robot>
