<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="lara3">

<!-- Link 0 -->
<xacro:property name="mass_0"  value = "2.133" />
<xacro:property name="cog_x_0" value = "0.0" />
<xacro:property name="cog_y_0" value = "0.0" />
<xacro:property name="cog_z_0" value = "0.0" />
<xacro:property name="i_xx_0"  value = "0.0" />
<xacro:property name="i_xy_0"  value = "0.0" />
<xacro:property name="i_xz_0"  value = "0.0" />
<xacro:property name="i_yy_0"  value = "0.0" />
<xacro:property name="i_yz_0"  value = "0.0" />
<xacro:property name="i_zz_0"  value = "0.0" />



<!-- Link 1 -->
<xacro:property name="mass_1"  value = "4.697" />
<xacro:property name="cog_x_1" value = "0.02107" />
<xacro:property name="cog_y_1" value = "0.047171" />
<xacro:property name="cog_z_1" value = "-1.8e-05" />
<xacro:property name="i_xx_1"  value = "0.016186" />
<xacro:property name="i_xy_1"  value = "0.0" />
<xacro:property name="i_xz_1"  value = "0.003788" />
<xacro:property name="i_yy_1"  value = "0.019981" />
<xacro:property name="i_yz_1"  value = "-2e-06" />
<xacro:property name="i_zz_1"  value = "0.009748" />



<!-- Link 2 -->
<xacro:property name="mass_2"  value = "1.606" />
<xacro:property name="cog_x_2" value = "0.108666" />
<xacro:property name="cog_y_2" value = "-0.12227000000000002" />
<xacro:property name="cog_z_2" value = "-2e-05" />
<xacro:property name="i_xx_2"  value = "0.01686" />
<xacro:property name="i_xy_2"  value = "-4e-06" />
<xacro:property name="i_xz_2"  value = "0.0" />
<xacro:property name="i_yy_2"  value = "0.001656" />
<xacro:property name="i_yz_2"  value = "0.000818" />
<xacro:property name="i_zz_2"  value = "0.017453" />



<!-- Link 3 -->
<xacro:property name="mass_3"  value = "3.322" />
<xacro:property name="cog_x_3" value = "0.020835" />
<xacro:property name="cog_y_3" value = "-0.041461" />
<xacro:property name="cog_z_3" value = "1e-05" />
<xacro:property name="i_xx_3"  value = "0.011521" />
<xacro:property name="i_xy_3"  value = "1e-06" />
<xacro:property name="i_xz_3"  value = "2e-06" />
<xacro:property name="i_yy_3"  value = "0.005632" />
<xacro:property name="i_yz_3"  value = "-0.002225" />
<xacro:property name="i_zz_3"  value = "0.009166" />



<!-- Link 4 -->
<xacro:property name="mass_4"  value = "1.144" />
<xacro:property name="cog_x_4" value = "0.055318" />
<xacro:property name="cog_y_4" value = "-0.20367299999999994" />
<xacro:property name="cog_z_4" value = "-3e-06" />
<xacro:property name="i_xx_4"  value = "0.007363" />
<xacro:property name="i_xy_4"  value = "0.0" />
<xacro:property name="i_xz_4"  value = "0.002563" />
<xacro:property name="i_yy_4"  value = "0.008811" />
<xacro:property name="i_yz_4"  value = "-1e-06" />
<xacro:property name="i_zz_4"  value = "0.002959" />



<!-- Link 5 -->
<xacro:property name="mass_5"  value = "2.494" />
<xacro:property name="cog_x_5" value = "0.016612" />
<xacro:property name="cog_y_5" value = "-0.038279" />
<xacro:property name="cog_z_5" value = "4e-06" />
<xacro:property name="i_xx_5"  value = "0.007591" />
<xacro:property name="i_xy_5"  value = "0.0" />
<xacro:property name="i_xz_5"  value = "0.0" />
<xacro:property name="i_yy_5"  value = "0.003487" />
<xacro:property name="i_yz_5"  value = "-0.001457" />
<xacro:property name="i_zz_5"  value = "0.005986" />



<!-- Link 6 -->
<xacro:property name="mass_6"  value = "0.455" />
<xacro:property name="cog_x_6" value = "0.00709" />
<xacro:property name="cog_y_6" value = "-0.13460299999999997" />
<xacro:property name="cog_z_6" value = "0.000162" />
<xacro:property name="i_xx_6"  value = "0.0006" />
<xacro:property name="i_xy_6"  value = "-9e-06" />
<xacro:property name="i_xz_6"  value = "4e-06" />
<xacro:property name="i_yy_6"  value = "0.000602" />
<xacro:property name="i_yz_6"  value = "0.0" />
<xacro:property name="i_zz_6"  value = "0.000605" />


</robot>
