<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- colors -->
  <material name="light_blue">
    <color rgba="0.79216 0.81961 0.93333 1" />
  </material>
  <material name="grey">
    <color rgba="0.68627 0.68627 0.68627 1" />
  </material>

  <xacro:macro name="egu_50_fingers_link" params="prefix meshType">
    <!-- links -->
    <link name="${prefix}base_link_left">
      <inertial>
        <origin xyz="0.0047644 -0.022233 -0.0049679" rpy="0 0 0" />
        <mass value="0.011214" />
        <inertia ixx="1.0648E-06" ixy="2.7782E-07" ixz="-1.0154E-09" iyy="3.0857E-07" iyz="2.0857E-09" izz="1.2766E-06" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/gripper_base_link_left.${meshType}" />
        </geometry>
        <material name="light_blue" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/gripper_base_link_left.${meshType}" />
        </geometry>
      </collision>
    </link>

    <link name="${prefix}base_link_right">
      <inertial>
        <origin xyz="-0.0047644 0.022233 -0.0049679" rpy="0 0 0" />
        <mass value="0.011214" />
        <inertia ixx="1.0648E-06" ixy="2.7782E-07" ixz="1.0154E-09" iyy="3.0857E-07" iyz="-2.0857E-09" izz="1.2766E-06" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/gripper_base_link_right.${meshType}" />
        </geometry>
        <material name="light_blue" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/gripper_base_link_right.${meshType}" />
        </geometry>
      </collision>
    </link>

    <link name="${prefix}finger_down">
      <inertial>
        <origin xyz="-3.0212E-05 -0.0036302 0.036294" rpy="0 0 0" />
        <mass value="0.028" />
        <inertia ixx="8.0228E-06" ixy="-1.3517E-09" ixz="-1.4745E-08" iyy="7.1741E-06" iyz="-1.1797E-06" izz="1.4075E-06" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/gripper_finger_down.${meshType}" />
        </geometry>
        <material name="light_blue" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/gripper_finger_down.${meshType}" />
        </geometry>
      </collision>
    </link>

    <link name="${prefix}finger_up">
      <inertial>
        <origin xyz="3.0212E-05 0.0036302 0.036294" rpy="0 0 0" />
        <mass value="0.028" />
        <inertia ixx="8.0228E-06" ixy="-1.3517E-09" ixz="1.4745E-08" iyy="7.1741E-06" iyz="1.1797E-06" izz="1.4075E-06" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/gripper_finger_up.${meshType}" />
        </geometry>
        <material name="light_blue" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/gripper_finger_up.${meshType}" />
        </geometry>
      </collision>
    </link>

    <link name="${prefix}symbol_2_left">
      <inertial>
        <origin xyz="-0.00014622 -3.5571E-05 -4.593E-08" rpy="0 0 0" />
        <mass value="5E-05" />
        <inertia ixx="6.5907E-10" ixy="-1.2575E-13" ixz="-1.6238E-16" iyy="7.8343E-11" iyz="-6.746E-14" izz="5.8113E-10" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/symbol_2_left.${meshType}" />
        </geometry>
        <material name="light_blue" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/symbol_2_left.${meshType}" />
        </geometry>
      </collision>
    </link>

    <link name="${prefix}symbol_2_right">
      <inertial>
        <origin xyz="0.00014622 3.5571E-05 -4.593E-08" rpy="0 0 0" />
        <mass value="5E-05" />
        <inertia ixx="6.5907E-10" ixy="-1.2575E-13" ixz="1.6238E-16" iyy="7.8343E-11" iyz="6.746E-14" izz="5.8113E-10" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/symbol_2_right.${meshType}" />
        </geometry>
        <material name="light_blue" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/symbol_2_right.${meshType}" />
        </geometry>
      </collision>
    </link>

    <link name="${prefix}screw_1">
      <inertial>
        <origin xyz="-5.9458E-20 -6.9389E-18 -0.0040161" rpy="0 0 0" />
        <mass value="0.00059" />
        <inertia ixx="1.2809E-08" ixy="3.2834E-26" ixz="2.1005E-25" iyy="1.2809E-08" iyz="2.3683E-25" izz="1.3113E-09" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/screw_1.${meshType}" />
        </geometry>
        <material name="grey" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/screw_1.${meshType}" />
        </geometry>
      </collision>
    </link>

    <link name="${prefix}screw_2">
      <inertial>
        <origin xyz="-5.8248E-20 0 -0.0040161" rpy="0 0 0" />
        <mass value="0.00059" />
        <inertia ixx="1.2809E-08" ixy="3.2834E-26" ixz="2.1401E-25" iyy="1.2809E-08" iyz="2.3533E-25" izz="1.3113E-09" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry> <mesh filename="package://egu_description/meshes/screw_2.${meshType}" />
        </geometry>
        <material name="grey" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/screw_2.${meshType}" />
        </geometry>
      </collision>
    </link>

    <link name="${prefix}screw_3">
      <inertial>
        <origin xyz="5.9458E-20 0 -0.0040161" rpy="0 0 0" />
        <mass value="0.00059" />
        <inertia ixx="1.2809E-08" ixy="3.2834E-26" ixz="-2.1005E-25" iyy="1.2809E-08" iyz="-2.3683E-25" izz="1.3113E-09" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/screw_3.${meshType}" />
        </geometry>
        <material name="grey" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/screw_3.${meshType}" />
        </geometry>
      </collision>
    </link>

    <link name="${prefix}screw_4">
      <inertial>
        <origin xyz="5.9458E-20 6.9389E-18 -0.0040161" rpy="0 0 0" />
        <mass value="0.00059" />
        <inertia ixx="1.2809E-08" ixy="3.2834E-26" ixz="-2.1005E-25" iyy="1.2809E-08" iyz="-2.3683E-25" izz="1.3113E-09" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/screw_4.${meshType}" />
        </geometry>
        <material name="grey" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://egu_description/meshes/screw_4.${meshType}" />
        </geometry>
      </collision>
    </link>

    <!-- joints -->
    <joint name="fixed_joint_${prefix}screw_2" type="fixed">
      <origin xyz="0.025 0.01258 0.00800000000000001" rpy="0 0 0" />
      <parent link="${prefix}base_link_right" />
      <child link="${prefix}screw_2" />
      <axis xyz="0 0 0" />
    </joint>
    
    <joint name="fixed_joint_${prefix}screw_1" type="fixed">
      <origin xyz="0.038 0.01258 0.00800000000000001" rpy="0 0 0" />
      <parent link="${prefix}base_link_right" />
      <child link="${prefix}screw_1" />
      <axis xyz="0 0 0" />
    </joint>

    <joint name="fixed_joint_${prefix}screw_3" type="fixed">
      <origin xyz="-0.025 -0.01258 0.00800000000000001" rpy="0 0 0" />
      <parent link="${prefix}base_link_left" />
      <child link="${prefix}screw_3" />
      <axis xyz="0 0 0" />
    </joint>

    <joint name="fixed_joint_${prefix}screw_4" type="fixed">
      <origin xyz="-0.038 -0.01258 0.00800000000000001" rpy="0 0 0" />
      <parent link="${prefix}base_link_left" />
      <child link="${prefix}screw_4" />
      <axis xyz="0 0 0" />
    </joint>

    <joint
      name="fixed_joint_finger_up"
      type="fixed">
      <origin
        xyz="0 0 -0.00800000000000001"
        rpy="0 0 0" />
      <parent
        link="${prefix}screw_2" />
      <child
        link="${prefix}finger_up" />
      <axis
        xyz="0 0 0" />
    </joint>

    <joint
      name="fixed_joint_gripper_finger_down"
      type="fixed">
      <origin
        xyz="0.013 0 -0.00800000000000001"
        rpy="0 0 0" />
      <parent
        link="${prefix}screw_4" />
      <child
        link="${prefix}finger_down" />
      <axis
        xyz="0 0 0" />
    </joint>

    <joint
      name="fixed_joint_symbol_2_left"
      type="fixed">
      <origin
        xyz="0.0065 0.00575 0.005"
        rpy="0 0 0" />
      <parent
        link="${prefix}finger_up" />
      <child
        link="${prefix}symbol_2_left" />
      <axis
        xyz="0 0 0" />
    </joint>

    <joint
      name="fixed_joint_symbol_2_right"
      type="fixed">
      <origin
        xyz="-0.0065 -0.00575 0.005"
        rpy="0 0 0" />
      <parent
        link="${prefix}finger_down" />
      <child
        link="${prefix}symbol_2_right" />
      <axis
        xyz="0 0 0" />
    </joint>

    <gazebo reference="${prefix}finger_down">
      <kp>1000000.0</kp>
      <kd>1.0</kd>
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <minDepth>0.001</minDepth>
    </gazebo>
    <gazebo reference="${prefix}finger_up">
      <kp>1000000.0</kp>
      <kd>1.0</kd>
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <minDepth>0.001</minDepth>
    </gazebo>


  </xacro:macro>
</robot>