<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="maira7M">

<!-- Joint 1 -->
<xacro:property name="lower_joint_limit_1" value="-3.14159" />
<xacro:property name="upper_joint_limit_1" value="3.14159" />
<xacro:property name="torque_limit_1" value="432" />
<xacro:property name="joint_velocity_limit_1" value="2.0944 " /> 

<!-- Joint 2 -->
<xacro:property name="lower_joint_limit_2" value="-2.0944" />
<xacro:property name="upper_joint_limit_2" value="2.0944" />
<xacro:property name="torque_limit_2" value="432" />
<xacro:property name="joint_velocity_limit_2" value="2.0944 " /> 

<!-- Joint 3 -->
<xacro:property name="lower_joint_limit_3" value="-3.14159" />
<xacro:property name="upper_joint_limit_3" value="3.14159" />
<xacro:property name="torque_limit_3" value="217" />
<xacro:property name="joint_velocity_limit_3" value="2.618" /> 

<!-- Joint 4 -->
<xacro:property name="lower_joint_limit_4" value="-2.618" />
<xacro:property name="upper_joint_limit_4" value="2.618" />
<xacro:property name="torque_limit_4" value="217" />
<xacro:property name="joint_velocity_limit_4" value="2.618" /> 

<!-- Joint 5 -->
<xacro:property name="lower_joint_limit_5" value="-3.14159" />
<xacro:property name="upper_joint_limit_5" value="3.14159" />
<xacro:property name="torque_limit_5" value="57" />
<xacro:property name="joint_velocity_limit_5" value="3.8397 " /> 

<!-- Joint 6 -->
<xacro:property name="lower_joint_limit_6" value="-3.14159" />
<xacro:property name="upper_joint_limit_6" value="3.14159" />
<xacro:property name="torque_limit_6" value="57" />
<xacro:property name="joint_velocity_limit_6" value="3.8397 " /> 

<!-- Joint 7 -->
<xacro:property name="lower_joint_limit_7" value="-3.14159" />
<xacro:property name="upper_joint_limit_7" value="3.14159" />
<xacro:property name="torque_limit_7" value="37" />
<xacro:property name="joint_velocity_limit_7" value="3.14159" /> 



</robot>
