<?xml version="1.0" encoding="utf-8"?>
<robot name="World">
  <link name="world"/>
  <link name="chassis">
    <inertial>
      <mass value="30"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual name="Collision">
      <origin xyz="0.98644986 -0.78484931 0.00482" rpy="0 0 0"/>
      <geometry>
        <box size="0.99999998 0.99999998 0.99999998"/>
      </geometry>
    </visual>
    <visual name="Collision_01">
      <origin xyz="0.97746986 -0.78484931 0.09371" rpy="0 0 0"/>
      <geometry>
        <box size="0.99999998 0.99999998 0.99999998"/>
      </geometry>
    </visual>
    <visual name="Mesh">
      <geometry>
        <mesh filename="./meshes/Mesh.obj"/>
      </geometry>
    </visual>
    <collision name="Collision">
      <origin xyz="0.98644986 -0.78484931 0.00482" rpy="0 0 0"/>
      <geometry>
        <box size="0.99999998 0.99999998 0.99999998"/>
      </geometry>
    </collision>
    <collision name="Collision_01">
      <origin xyz="0.97746986 -0.78484931 0.09371" rpy="0 0 0"/>
      <geometry>
        <box size="0.99999998 0.99999998 0.99999998"/>
      </geometry>
    </collision>
  </link>
  <link name="left_wheel">
    <inertial>
      <mass value="3"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual name="Mesh_002">
      <geometry>
        <mesh filename="./meshes/Mesh_002.obj"/>
      </geometry>
    </visual>
    <visual name="Cylinder">
      <origin xyz="0 -0.00000001 -0.00000006" rpy="1.57079606 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.04999989"/>
      </geometry>
    </visual>
    <collision name="Cylinder">
      <origin xyz="0 -0.00000001 -0.00000006" rpy="1.57079606 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.04999989"/>
      </geometry>
    </collision>
  </link>
  <link name="right_wheel">
    <inertial>
      <mass value="3"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual name="Mesh_005">
      <geometry>
        <mesh filename="./meshes/Mesh_005.obj"/>
      </geometry>
    </visual>
    <visual name="Cylinder">
      <origin xyz="0 0.00000001 0" rpy="1.57079633 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.05"/>
      </geometry>
    </visual>
    <collision name="Cylinder">
      <origin xyz="0 0.00000001 0" rpy="1.57079633 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.05"/>
      </geometry>
    </collision>
  </link>
  <link name="left_swivel">
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual name="STR_Left_Swivel">
      <geometry>
        <mesh filename="./meshes/STR_Left_Swivel.obj"/>
      </geometry>
    </visual>
    <collision name="Collision">
      <origin xyz="-0.02722001 -0.00000001 -0.05232" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
  </link>
  <link name="right_swivel">
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual name="STR_Right_Swivel">
      <geometry>
        <mesh filename="./meshes/STR_Right_Swivel.obj"/>
      </geometry>
    </visual>
    <collision name="Collision">
      <origin xyz="-0.02722001 -0 -0.05232" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
  </link>
  <link name="lift">
    <inertial>
      <mass value="10"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual name="Collision">
      <origin xyz="-0.25589969 0 0.02827922" rpy="0 0 0"/>
      <geometry>
        <box size="1.00999997 0.64999996 0.05"/>
      </geometry>
    </visual>
    <visual name="Mesh_012">
      <geometry>
        <mesh filename="./meshes/Mesh_012.obj"/>
      </geometry>
    </visual>
    <collision name="Collision">
      <origin xyz="-0.25589969 0 0.02827922" rpy="0 0 0"/>
      <geometry>
        <box size="1.00999997 0.64999996 0.05"/>
      </geometry>
    </collision>
  </link>
  <link name="left_caster">
    <inertial>
      <mass value="1"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual name="Collision">
      <geometry>
        <sphere radius="0.07"/>
      </geometry>
    </visual>
    <visual name="STR_Inner_Left_Wheel">
      <geometry>
        <mesh filename="./meshes/STR_Inner_Left_Wheel.obj"/>
      </geometry>
    </visual>
    <collision name="Collision">
      <geometry>
        <sphere radius="0.07"/>
      </geometry>
    </collision>
  </link>
  <link name="right_caster">
    <inertial>
      <mass value="1"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual name="Collision">
      <geometry>
        <sphere radius="0.07"/>
      </geometry>
    </visual>
    <visual name="STR_Inner_Right_Wheel">
      <geometry>
        <mesh filename="./meshes/STR_Inner_Right_Wheel.obj"/>
      </geometry>
    </visual>
    <collision name="Collision">
      <geometry>
        <sphere radius="0.07"/>
      </geometry>
    </collision>
  </link>
  <joint name="floating_base" type="floating">
    <parent link="world"/>
    <child link="chassis"/>
  </joint>
  <joint name="left_wheel_joint" type="revolute">
    <origin xyz="1.30652985 -0.49521931 0" rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="left_wheel"/>
    <axis xyz="0 1 0"/>
    <limit lower="-inf" upper="inf" velocity="1000000.00849832"/>
    <dynamics friction="0"/>
    <!-- isaac:source_drive {"armature": 0.0, "drive": {"damping": 17453292.0, "max_force": Infinity, "stiffness": 0.0, "target_position": 0.0}, "instance": "angular", "source": "physx"} -->
  </joint>
  <joint name="right_wheel_joint" type="revolute">
    <origin xyz="1.30652985 -1.0744793 0" rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="right_wheel"/>
    <axis xyz="0 1 0"/>
    <limit lower="-inf" upper="inf" velocity="1000000.00849832"/>
    <dynamics friction="0"/>
    <!-- isaac:source_drive {"armature": 0.0, "drive": {"damping": 17453292.0, "max_force": Infinity, "stiffness": 0.0, "target_position": 0.0}, "instance": "angular", "source": "physx"} -->
  </joint>
  <joint name="left_swivel_joint" type="revolute">
    <origin xyz="0.65652987 -0.6913693 0.075" rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="left_swivel"/>
    <axis xyz="0 0 1"/>
    <limit lower="-inf" upper="inf" velocity="1000000.00849832"/>
    <dynamics friction="0"/>
    <!-- isaac:source_drive {"armature": 0.0, "instance": "angular", "source": "physx"} -->
  </joint>
  <joint name="right_swivel_joint" type="revolute">
    <origin xyz="0.65652987 -0.8783293 0.075" rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="right_swivel"/>
    <axis xyz="0 0 1"/>
    <limit lower="-inf" upper="inf" velocity="1000000.00849832"/>
    <dynamics friction="0"/>
    <!-- isaac:source_drive {"armature": 0.0, "instance": "angular", "source": "physx"} -->
  </joint>
  <joint name="lift_joint" type="prismatic">
    <origin xyz="1.30652985 -0.78484931 0.094" rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="lift"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="0.04" velocity="17453.29251994"/>
    <dynamics friction="0"/>
    <!-- isaac:source_drive {"armature": 0.0, "drive": {"damping": 1000.0, "max_force": Infinity, "stiffness": 1000000.0, "target_position": 0.0}, "instance": "linear", "source": "physx"} -->
  </joint>
  <joint name="left_caster_joint" type="revolute">
    <origin xyz="-0.02722001 -0.00000001 -0.08531999" rpy="0 0 0"/>
    <parent link="left_swivel"/>
    <child link="left_caster"/>
    <axis xyz="0 1 0"/>
    <limit lower="-inf" upper="inf" velocity="1000000.00849832"/>
    <dynamics friction="0"/>
    <!-- isaac:source_drive {"armature": 0.0, "instance": "angular", "source": "physx"} -->
  </joint>
  <joint name="right_caster_joint" type="revolute">
    <origin xyz="-0.02722001 -0 -0.08531999" rpy="0 0 0"/>
    <parent link="right_swivel"/>
    <child link="right_caster"/>
    <axis xyz="0 1 0"/>
    <limit lower="-inf" upper="inf" velocity="1000000.00849832"/>
    <dynamics friction="0"/>
    <!-- isaac:source_drive {"armature": 0.0, "instance": "angular", "source": "physx"} -->
  </joint>
</robot>
